body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body {
   /* background-color: skyblue ; */ 
   background-image: url(https://i.pinimg.com/564x/b2/b0/84/b2b084ad6061dfe2122302266ea8af58.jpg);
}